In [1]:
import pandas as pd
import os
import glob
import numpy as np

In [2]:
#extracting all files from local directory for WHO

#os.chdir ("/Users/LuisGa/Documents/Capstone/COVID-19-master/who_covid_19_situation_reports/who_covid_19_sit_rep_time_series")
path = "/Users/LuisGa/Documents/GitHub/C19A-COVID-19-Prediction-Algorithm-CAPSTONE/CSSE_C-19/csse_covid_19_data"
all_filenames_WHO = [i for i in glob.glob('*.{}'.format("csv"))]

WHO = pd.read_csv('.\\CSSE_C-19\\who_covid_19_situation_reports\\who_covid_19_sit_rep_time_series\\who_covid_19_sit_rep_time_series.csv')

In [3]:
dfWHO = pd.DataFrame(WHO)

dfWHO_new = pd.melt(dfWHO,col_level = 0, id_vars=['Province/States', 'Country/Region','WHO region', 'WHO region label'])

dfWHO_New = dfWHO_new.rename(columns = {'variable': 'Dates', 'value':'Cases'})

WHO_CASES = dfWHO_New.reindex(columns = ['Dates','Province/States','Country/Region','WHO region','WHO region label','Cases'])
display(WHO_CASES)

,Dates,Province/States,Country/Region,WHO region,WHO region label,Cases
0,1/21/20,Confirmed,Globally,NaN,NaN,282.0
1,1/21/20,Deaths,Globally,NaN,NaN,NaN
2,1/21/20,Confirmed,China,Western Pacific Region,NaN,278.0
3,1/21/20,Confirmed,Outside of China,NaN,NaN,4.0
4,1/21/20,Deaths,China,Western Pacific Region,NaN,NaN
...,...,...,...,...,...,...
56216,8/16/20,Deaths,NaN,Eastern Mediterranean Region,NaN,NaN
56217,8/16/20,Confirmed,NaN,Region of the Americas,NaN,NaN
56218,8/16/20,Deaths,NaN,Region of the Americas,NaN,NaN
56219,8/16/20,Confirmed,NaN,African Region,NaN,NaN
56220,8/16/20,Deaths,NaN,African Region,NaN,NaN

In [4]:
#extracting all files from local directory for CSSE

path = "./CSSE_C-19/csse_covid_19_data/csse_covid_19_time_series/"
extension_CSSE = 'csv'
all_filenames_CSSE = [i for i in glob.glob(path + '*.{}'.format(extension_CSSE))]

print(all_filenames_CSSE)

['./CSSE_C-19/csse_covid_19_data/csse_covid_19_time_series\\Errata.csv', './CSSE_C-19/csse_covid_19_data/csse_covid_19_time_series\\time_series_covid19_confirmed_global.csv', './CSSE_C-19/csse_covid_19_data/csse_covid_19_time_series\\time_series_covid19_confirmed_US.csv', './CSSE_C-19/csse_covid_19_data/csse_covid_19_time_series\\time_series_covid19_deaths_global.csv', './CSSE_C-19/csse_covid_19_data/csse_covid_19_time_series\\time_series_covid19_deaths_US.csv', './CSSE_C-19/csse_covid_19_data/csse_covid_19_time_series\\time_series_covid19_recovered_global.csv']

In [5]:
output = []
for i in all_filenames_CSSE:
    if 'global' in i.lower():
        output.append(i)

In [6]:
output

['./CSSE_C-19/csse_covid_19_data/csse_covid_19_time_series\\time_series_covid19_confirmed_global.csv',
 './CSSE_C-19/csse_covid_19_data/csse_covid_19_time_series\\time_series_covid19_deaths_global.csv',
 './CSSE_C-19/csse_covid_19_data/csse_covid_19_time_series\\time_series_covid19_recovered_global.csv']

In [7]:
csv_output0 = pd.read_csv(output[0])
csv_output1 = pd.read_csv(output[1])
csv_output2 = pd.read_csv(output[2])

In [8]:
#melting all CSVs files from CSSE
df0 = pd.DataFrame(csv_output0)

df0_new = pd.melt(df0,col_level = 0, id_vars=['Province/State', 'Country/Region', 'Lat','Long'])

df0_New = df0_new.rename(columns = {'variable': 'Dates','value':'Confirmed Cases'})

ConfirmedCases = df0_New.reindex(columns = ['Dates','Province/State','Country/Region','Lat','Long','Confirmed Cases'])
display(ConfirmedCases)
######################################################################################################
df1 = pd.DataFrame(csv_output1)

df1_new = pd.melt(df1,col_level = 0, id_vars=['Province/State', 'Country/Region', 'Lat','Long'])

df1_New = df1_new.rename(columns = {'variable': 'Dates','value':'Death Cases'})

DeathCases = df1_New.reindex(columns = ['Dates','Province/State','Country/Region','Lat','Long','Death Cases'])
display(DeathCases)
#######################################################################################################
df2 = pd.DataFrame(csv_output2)

df2_new = pd.melt(df2,col_level = 0, id_vars=['Province/State', 'Country/Region', 'Lat','Long'])

df2_New = df2_new.rename(columns = {'variable': 'Dates','value':'Recovered Cases'})

RecoveredCases = df2_New.reindex(columns = ['Dates','Province/State','Country/Region','Lat','Long','Recovered Cases'])
display(RecoveredCases)

,Dates,Province/State,Country/Region,Lat,Long,Confirmed Cases
0,1/22/20,NaN,Afghanistan,33.939110,67.709953,0
1,1/22/20,NaN,Albania,41.153300,20.168300,0
2,1/22/20,NaN,Algeria,28.033900,1.659600,0
3,1/22/20,NaN,Andorra,42.506300,1.521800,0
4,1/22/20,NaN,Angola,-11.202700,17.873900,0
...,...,...,...,...,...,...
170185,9/22/21,NaN,Vietnam,14.058324,108.277199,718963
170186,9/22/21,NaN,West Bank and Gaza,31.952200,35.233200,390369
170187,9/22/21,NaN,Yemen,15.552727,48.516388,8789
170188,9/22/21,NaN,Zambia,-13.133897,27.849332,208676
170189,9/22/21,NaN,Zimbabwe,-19.015438,29.154857,128804

,Dates,Province/State,Country/Region,Lat,Long,Death Cases
0,1/22/20,NaN,Afghanistan,33.939110,67.709953,0
1,1/22/20,NaN,Albania,41.153300,20.168300,0
2,1/22/20,NaN,Algeria,28.033900,1.659600,0
3,1/22/20,NaN,Andorra,42.506300,1.521800,0
4,1/22/20,NaN,Angola,-11.202700,17.873900,0
...,...,...,...,...,...,...
170185,9/22/21,NaN,Vietnam,14.058324,108.277199,17781
170186,9/22/21,NaN,West Bank and Gaza,31.952200,35.233200,3968
170187,9/22/21,NaN,Yemen,15.552727,48.516388,1658
170188,9/22/21,NaN,Zambia,-13.133897,27.849332,3639
170189,9/22/21,NaN,Zimbabwe,-19.015438,29.154857,4592

,Dates,Province/State,Country/Region,Lat,Long,Recovered Cases
0,1/22/20,NaN,Afghanistan,33.939110,67.709953,0
1,1/22/20,NaN,Albania,41.153300,20.168300,0
2,1/22/20,NaN,Algeria,28.033900,1.659600,0
3,1/22/20,NaN,Andorra,42.506300,1.521800,0
4,1/22/20,NaN,Angola,-11.202700,17.873900,0
...,...,...,...,...,...,...
161035,9/22/21,NaN,Vietnam,14.058324,108.277199,0
161036,9/22/21,NaN,West Bank and Gaza,31.952200,35.233200,0
161037,9/22/21,NaN,Yemen,15.552727,48.516388,0
161038,9/22/21,NaN,Zambia,-13.133897,27.849332,0
161039,9/22/21,NaN,Zimbabwe,-19.015438,29.154857,0

In [9]:
#Differences between the dataframes from the Confirmed, Death and recovered cases from CSSE
#axis='columns'
df_merge1 = pd.merge(ConfirmedCases,DeathCases, how = "right", on = ["Dates","Country/Region","Province/State","Lat","Long"])

df_merge2 = pd.merge(df_merge1,RecoveredCases,how = "right", on = ["Dates","Country/Region","Province/State","Lat","Long"] )

display(df_merge2)

,Dates,Province/State,Country/Region,Lat,Long,Confirmed Cases,Death Cases,Recovered Cases
0,1/22/20,NaN,Afghanistan,33.939110,67.709953,0.0,0.0,0
1,1/22/20,NaN,Albania,41.153300,20.168300,0.0,0.0,0
2,1/22/20,NaN,Algeria,28.033900,1.659600,0.0,0.0,0
3,1/22/20,NaN,Andorra,42.506300,1.521800,0.0,0.0,0
4,1/22/20,NaN,Angola,-11.202700,17.873900,0.0,0.0,0
...,...,...,...,...,...,...,...,...
161035,9/22/21,NaN,Vietnam,14.058324,108.277199,718963.0,17781.0,0
161036,9/22/21,NaN,West Bank and Gaza,31.952200,35.233200,390369.0,3968.0,0
161037,9/22/21,NaN,Yemen,15.552727,48.516388,8789.0,1658.0,0
161038,9/22/21,NaN,Zambia,-13.133897,27.849332,208676.0,3639.0,0
161039,9/22/21,NaN,Zimbabwe,-19.015438,29.154857,128804.0,4592.0,0

In [10]:
WHO_CASES = WHO_CASES.rename(columns={"Province/States":"Province/State", "Cases":"WHO Confirmed Cases"})
WHO_CASES

,Dates,Province/State,Country/Region,WHO region,WHO region label,WHO Confirmed Cases
0,1/21/20,Confirmed,Globally,NaN,NaN,282.0
1,1/21/20,Deaths,Globally,NaN,NaN,NaN
2,1/21/20,Confirmed,China,Western Pacific Region,NaN,278.0
3,1/21/20,Confirmed,Outside of China,NaN,NaN,4.0
4,1/21/20,Deaths,China,Western Pacific Region,NaN,NaN
...,...,...,...,...,...,...
56216,8/16/20,Deaths,NaN,Eastern Mediterranean Region,NaN,NaN
56217,8/16/20,Confirmed,NaN,Region of the Americas,NaN,NaN
56218,8/16/20,Deaths,NaN,Region of the Americas,NaN,NaN
56219,8/16/20,Confirmed,NaN,African Region,NaN,NaN
56220,8/16/20,Deaths,NaN,African Region,NaN,NaN

In [11]:
test = pd.merge(WHO_CASES,df_merge2,how = "right", on = ["Dates","Country/Region","Province/State"])
test

,Dates,Province/State,Country/Region,WHO region,WHO region label,WHO Confirmed Cases,Lat,Long,Confirmed Cases,Death Cases,Recovered Cases
0,1/22/20,NaN,Afghanistan,Eastern Mediterranean Region,NaN,0.0,33.939110,67.709953,0.0,0.0,0
1,1/22/20,NaN,Albania,European Region,NaN,0.0,41.153300,20.168300,0.0,0.0,0
2,1/22/20,NaN,Algeria,African Region,NaN,0.0,28.033900,1.659600,0.0,0.0,0
3,1/22/20,NaN,Andorra,European Region,NaN,0.0,42.506300,1.521800,0.0,0.0,0
4,1/22/20,NaN,Angola,African Region,NaN,0.0,-11.202700,17.873900,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...
161035,9/22/21,NaN,Vietnam,NaN,NaN,NaN,14.058324,108.277199,718963.0,17781.0,0
161036,9/22/21,NaN,West Bank and Gaza,NaN,NaN,NaN,31.952200,35.233200,390369.0,3968.0,0
161037,9/22/21,NaN,Yemen,NaN,NaN,NaN,15.552727,48.516388,8789.0,1658.0,0
161038,9/22/21,NaN,Zambia,NaN,NaN,NaN,-13.133897,27.849332,208676.0,3639.0,0
161039,9/22/21,NaN,Zimbabwe,NaN,NaN,NaN,-19.015438,29.154857,128804.0,4592.0,0

In [12]:
#test[["Dates","Country/Region","Cases","Confirmed Cases"]]
test[test["WHO Confirmed Cases"] == test["Confirmed Cases"]]

,Dates,Province/State,Country/Region,WHO region,WHO region label,WHO Confirmed Cases,Lat,Long,Confirmed Cases,Death Cases,Recovered Cases
0,1/22/20,NaN,Afghanistan,Eastern Mediterranean Region,NaN,0.0,33.939110,67.709953,0.0,0.0,0
1,1/22/20,NaN,Albania,European Region,NaN,0.0,41.153300,20.168300,0.0,0.0,0
2,1/22/20,NaN,Algeria,African Region,NaN,0.0,28.033900,1.659600,0.0,0.0,0
3,1/22/20,NaN,Andorra,European Region,NaN,0.0,42.506300,1.521800,0.0,0.0,0
4,1/22/20,NaN,Angola,African Region,NaN,0.0,-11.202700,17.873900,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...
39555,6/19/20,NaN,Somalia,Eastern Mediterranean Region,NaN,2719.0,5.152149,46.199616,2719.0,88.0,724
39560,6/19/20,NaN,Sudan,Eastern Mediterranean Region,NaN,8020.0,12.862800,30.217600,8020.0,506.0,3086
39567,6/19/20,NaN,Tajikistan,European Region,NaN,5279.0,38.861000,71.276100,5279.0,51.0,3830
39569,6/19/20,NaN,Thailand,South-East Asia Region,NaN,3146.0,15.870032,100.992541,3146.0,58.0,3008
39572,6/19/20,NaN,Trinidad and Tobago,Region of the Americas,NaN,123.0,10.691800,-61.222500,123.0,8.0,109

In [13]:
test[(test["WHO Confirmed Cases"] != test["Confirmed Cases"]) & (test["WHO Confirmed Cases"].notna())]

,Dates,Province/State,Country/Region,WHO region,WHO region label,WHO Confirmed Cases,Lat,Long,Confirmed Cases,Death Cases,Recovered Cases
39,1/22/20,NaN,Canada,Region of the Americas,NaN,0.0,56.130400,-106.346800,NaN,NaN,0
44,1/22/20,Beijing,China,Western Pacific Region,NaN,5.0,40.182400,116.414200,14.0,0.0,0
45,1/22/20,Chongqing,China,Western Pacific Region,NaN,1.0,30.057200,107.874000,6.0,0.0,0
48,1/22/20,Guangdong,China,Western Pacific Region,NaN,17.0,23.341700,113.424400,26.0,0.0,0
54,1/22/20,Henan,China,Western Pacific Region,NaN,1.0,33.882000,113.614000,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...
39594,6/19/20,NaN,Venezuela,Region of the Americas,NaN,3386.0,6.423800,-66.589700,3591.0,30.0,835
39595,6/19/20,NaN,Vietnam,Western Pacific Region,NaN,342.0,14.058324,108.277199,349.0,0.0,326
39597,6/19/20,NaN,Yemen,Eastern Mediterranean Region,NaN,913.0,15.552727,48.516388,919.0,251.0,288
39598,6/19/20,NaN,Zambia,African Region,NaN,1416.0,-13.133897,27.849332,1430.0,11.0,1194
39599,6/19/20,NaN,Zimbabwe,African Region,NaN,463.0,-19.015438,29.154857,479.0,4.0,63

In [14]:
df_diff = pd.concat([df_merge2,WHO_CASES]).drop_duplicates(keep=False)

DF_All =  df_diff.reindex(columns = ['Dates','Cases','Province/State','Province/States','Country/Region','Lat','Long','WHO region','WHO region label'])

display(df_diff)

,Dates,Province/State,Country/Region,Lat,Long,Confirmed Cases,Death Cases,Recovered Cases,WHO region,WHO region label,WHO Confirmed Cases
0,1/22/20,NaN,Afghanistan,33.93911,67.709953,0.0,0.0,0.0,NaN,NaN,NaN
1,1/22/20,NaN,Albania,41.15330,20.168300,0.0,0.0,0.0,NaN,NaN,NaN
2,1/22/20,NaN,Algeria,28.03390,1.659600,0.0,0.0,0.0,NaN,NaN,NaN
3,1/22/20,NaN,Andorra,42.50630,1.521800,0.0,0.0,0.0,NaN,NaN,NaN
4,1/22/20,NaN,Angola,-11.20270,17.873900,0.0,0.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
56216,8/16/20,Deaths,NaN,NaN,NaN,NaN,NaN,NaN,Eastern Mediterranean Region,NaN,NaN
56217,8/16/20,Confirmed,NaN,NaN,NaN,NaN,NaN,NaN,Region of the Americas,NaN,NaN
56218,8/16/20,Deaths,NaN,NaN,NaN,NaN,NaN,NaN,Region of the Americas,NaN,NaN
56219,8/16/20,Confirmed,NaN,NaN,NaN,NaN,NaN,NaN,African Region,NaN,NaN
56220,8/16/20,Deaths,NaN,NaN,NaN,NaN,NaN,NaN,African Region,NaN,NaN